server:
  port: 8003

mybatis:
  config-location: classpath:mybatis-config.xml

spring:
  profile: dev
  application:
    name: springcloud01-product   
  datasource: 
    type: com.alibaba.druid.pool.DruidDataSource 
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/redis
    username: root
    password: 123456
    dbcp2:         
      min-idle: 5  
      initial-size: 5  
      max-total: 10 
eureka:
  client:
    service-url: 
      defaultZone: http://eurekaservice9001.com:9001/eureka/
  instance:
    instance-id: springcloud01-product-8003
    prefer-ip-address: true

info:
  app.name: this is my productservice
  host: http://192.168.10.1
  port: 8003
  date: 3/26
management:
  endpoints:
    web:
      exposure:
        include: hystrix.stream